extends layout
block content
        .listPanel2
            ul(class='clearfix')
                li
                    span &nbsp;&nbsp;&nbsp;&nbsp;落晓
                br
                li
                    span  &nbsp;&nbsp;&nbsp;&nbsp;shine_zyy@126.com
                br
