extends layout
block content

    .listPanel3
        h2(class='clearfix magin20 center') 红楼梦简介
        ul(class='clearfix')
            li
                span  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《红楼梦》，原名《石头记》，曹雪芹著，中国古代四大名著之一。因当时社会环境和手抄流传，使仅保存80回，现版本很多，通行本后40回高鹗续（或无名氏），对作者原意篡改极大且对古本进行过修改，特别是结局，贾家毋庸置疑会走向衰亡，而不会像续本那样复兴。影视中，87版靠近原意，10版完全依照通行版。由研究此书的思想文化、作者原意等，而形成“红学”，以脂砚斋批注为重要依据。此书是一部具有高度思想性和艺术性的伟大作品，作者根据家族的兴衰的艺术升华，对封建腐朽的科举制度、包办婚姻、等级制度等进行思考。
            br
            li
                h3 作者简介
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曹雪芹，中国清代伟大的小说家、诗人、画家，名沾（读作“zhān”），字梦阮，号雪芹，又号芹圃、芹溪。先世原是汉人，后为满洲正白旗“包衣”人，是为旗人。大约1715年（也有说法为1724年）出生于清朝江宁府（今南京），卒于1763或1764年。祖籍河北唐山丰润（一说辽宁辽阳、江西武阳，尚无确切定论。）
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 曹雪芹的高祖因随清兵入关有功得受官职，曹雪芹的曾祖父曹玺，祖父曹寅，父辈的曹颙和曹頫等祖辈多代相继担任江宁织造，兼任两淮巡盐监察御使，达60余年之久，颇受康熙帝宠信。康熙六下江南，其中四次由曹寅负责接驾，并住在曹家。曹家也因此成为当时财势熏天的“百年望族”，曹雪芹自幼便是在这“秦淮风月”之地的“繁华”生活中长大。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雍正初年，由于统治阶级内部斗争的牵连，曹家遭受多次打击，曹頫被革职入狱，家产抄没，举家迁回北京，家道从此日渐衰微。这一转折，使曹雪芹深感世态炎凉，更清醒地认识了社会制度的实质。从此他生活一贫如洗，但他能诗会画，擅长写作，以坚韧不拔的毅力专心致志地从事小说《红楼梦》的写作和修订，披阅十载，增删五次，写出了这部把中国古典小说创作推向巅峰的文学巨著。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乾隆二十七年（1762年），幼子夭亡，曹雪芹陷于极度的忧伤和悲痛之中，到这一年的除夕(1763年2月12日），因贫病无医而逝世（注：也有说法是死于次年除夕，即公元1764年2月1日，曹雪芹逝于1763年的说法见甲戌本脂砚斋甲午泪笔批：“能解者，方有辛酸之泪，哭成此书。壬午除夕，书未成，芹为泪尽而逝。余尝哭芹，泪亦待尽”），入葬费用由好友资助。现存最早手抄本是乾隆甲戌年（1754年）的，但只有不连续的16回。后来又发现了若干手抄本，较重要的如乾隆庚辰年（1760年）抄本，今存78回。这些手抄本都题名《石头记》，并且有署名 “脂砚斋”等人的许多评语，所以又被称为“脂评本”，简称脂本；脂本何以出现并流传，尚有争议。
            br
            li
                h3 毛泽东对红楼梦的评价
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1、《红楼梦》我至少读了3遍……我是把它当历史读的。当故事读，后来当历史读。《红楼梦》的第四回，那是个总纲，还有《冷子兴演说荣国府》、《晴雯歌》和注。第四回《葫芦僧乱判葫芦案》，讲护官符，提到四大家族：“贾不假，白玉为堂金作马。阿房宫，三百里，住不下金陵一个史。东海缺少白玉床，龙王来请金陵王。丰年好大雪，珍珠如土金如铁。”《红楼梦》写四大家族，阶级斗争激烈，几十条人命。统治者二十几人（有人算了说是三十几人），其他都是奴隶，三百多个，鸳鸯、司棋、尤二姐、尤三姐等等。讲历史不拿阶级斗争观点讲，就讲不通。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2、中国有四部经典文学名著：《西游记》、《水浒传》、《三国演义》、《红楼梦》。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3、不读五遍《红楼梦》，没必要发表评论。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4、《红楼梦》不仅要当做小说看，而且要当做历史看。他写的是很细致的、很精细的社会历史。他的书中写了几百人，有三四百人，其中只有三十三人是统治阶级，约占十分之一，其余都是被压迫的。牺牲的、死的很多，如鸳鸯、尤二姐、尤三姐、司棋、金钏、晴雯、秦可卿和她的一个丫环。秦可卿实际是自杀的，书上看不出来。贾宝玉对这些人都是同情的。你们看过《金瓶梅》没有？这部书写了宋朝的真正社会历史，暴露了封建统治，揭露了统治者和被统治者的矛盾，也有一部分写得很细致。《金瓶梅》是《红楼梦》的祖宗，没有《金瓶梅》就写不出《红楼梦》。但是，《金瓶梅》的作者不尊重女性，《红楼梦》、《聊斋志异》是尊重女性的。
            br
            li
                h3 鲁迅对红楼梦的的评价
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1、《红楼梦》是中国许多人所知道，至少，是知道这名目的书。谁是作者和续者姑且勿论，单是命意，就因读者的眼光而有种种：经学家看见《易》，道学家看见淫，才子看见缠绵，革命家看见排满，流言家看见宫闱秘事……在我的眼下的宝玉，却看见他看见许多死亡；证成多所爱者当大苦恼，因为世上，不幸人多。惟憎人者，幸灾乐祸，于一生中，得小欢喜少有罣碍。然而憎人却不过是爱人者的败亡的逃路，与宝玉之终于出家，同一小器。但在作《红楼梦》时的思想，大约也止能如此；即使出于续作，想来未必与作者本意大相悬殊。惟披了大红猩猩毡斗篷来拜他的父亲，却令人觉得诧异。　（《集外集拾遗补编·〈绛洞花主〉小引》）
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2、“全书所写，虽不外悲喜之情，聚散之迹，而人物事故，则摆脱旧套，与在先之人情小说甚不同。……盖叙述皆存真，闻见悉所亲历，正因写实，转成新鲜。……”（《中国小说史略》）

    include footer