extends ../layout
block content
    h2(class='clearfix magin20 center ')  金陵十二钗副册
    .listPanel3
        ul(class='clearfix')
            li
                h3 1. &nbsp;&nbsp;&nbsp;&nbsp;香菱
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;是小说中出场最早的薄命女，薛蟠之妾，原名甄英莲(谐音:真应怜)，甄士隐的女儿。三岁那年元宵，在看社火花灯时被骗子拐走，十二三岁时，被薛蟠强买为妾，改名香菱。她生得袅娜纤巧，做人行事又温柔安静。《红楼梦》书中有著名的“香菱学诗”一节，并入选中学课本。后为薛蟠正妻夏金桂所妒，备受折磨，改名为秋菱，险遭谋害。高鹗续书中薛蟠出狱后，把香菱扶了正，后难产而死，并遗留一子（这可以通过最后一回中甄士隐与贾雨村的对话中得知，是由甄士隐亲口所述）。一说被夏金桂折磨致死。
            br
            li
                h3 2. &nbsp;&nbsp;&nbsp;&nbsp;薛宝琴
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薛宝琴 ，皇商之女，小时跟父亲跑过不少地方。她是薛姨妈的侄女，薛蝌的胞妹，薛宝钗的堂妹。她长得十分美貌，生性活泼可爱。贾母甚是喜爱，夸她比画上的还好看。她初至贾府时贾母本欲娶她做孙媳妇，可是听说已经许配给梅翰林之子就只好作罢。不过还是逼了王夫人认她为干女儿。还把一件野鸭子毛的凫靥裘送与她穿，与这件衣服规格相同的另一件就是贾宝玉那件有名的雀金裘，可见贾母对其宠爱之至。连薛宝钗都嫉妒她：“……我就不信我哪些儿不如你?”她自幼读书识字，本性聪敏，在大观园里曾作《怀古绝句十首》。她是一位近乎完美的人。她的美艳与纯真和邢岫烟的内敛与清高、李纹、李琦的超脱与淡然截然不同，十分耀眼.
            br
            li
                h3 3. &nbsp;&nbsp;&nbsp;&nbsp;尤二姐
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 尤二姐，贾珍妻尤氏的异母妹，是尤老娘前夫所生，后尤老娘改嫁尤家时随来。尤老娘及其二女因贾敬丧事进入宁府。但除了贾珍、贾蓉、贾琏之外，她们似乎处于与贾府上下不相来往的状态中。二姐、三姐都有姿色，但由于在未嫁之前就与贾珍有染，所以名声不好。带着这一污点，二姐在被贾琏娶为妾后，却一心一意恪守妇道，希求做一个改过从善的妇人。她也为性格与她不同的妹妹三姐的终身担忧，想把她从被贾珍玩弄的处境中解救出来，嫁一个好人家。可是随着三姐与柳湘莲亲事的破灭。三姐自杀以后，她自己和贾琏的秘事也被凤姐发觉。二姐被凤姐赚入荣府后，就跌进了早就设好的陷阱里。最后她只有吞金自尽一条路。尤二姐的悲剧不是因为她笨拙老实，不能抵挡凤姐对她的陷害，作者是要写一个所谓失足的女人，永远不能自拔。她虽是死在凤姐手里，但在一定意义上，又是一个被封建礼教所吞噬了的善良女子。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;尤三姐
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 尤三姐，尤氏继母带来的女儿，尤二姐的妹妹。尤三姐模样儿风流标致，她又偏爱打扮得出色，自有一种万人不及的风情体态。贾珍、贾琏、贾蓉等好色之徒，对她颇为馋涎。但尤三姐不愿像姐姐那样遭人玩弄，她用泼辣作为武器，捍卫自己的清白。她看中柳湘莲后，就一心一意等他。但因柳湘莲误听他人传言，怀疑尤三姐也是个不干净之人，要索回定礼，刚烈的尤三姐在奉还定礼时拔剑自刎。
            br
            li
                h3 5. &nbsp;&nbsp;&nbsp;&nbsp;邢岫烟
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 邢岫烟，邢忠夫妇的女儿，邢夫人的侄女。因家道贫寒，一家人前来投奔邢夫人。邢夫人对邢岫烟并不真心疼爱，只不过为了脸面之情。邢夫人甚至要求邢岫烟把每月二两银子的月钱省下一两来给她自己的父母，使得邢岫烟只得典当衣服来维持她在大观园的开支。邢岫烟生得端雅稳重，知书达礼，被薛姨妈看中，央求贾母作媒说与薛蝌，后嫁给薛蝌。
            br
            li
                h3 6. &nbsp;&nbsp;&nbsp;&nbsp;李纹
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李纨之寡婶的女儿， 首见《红楼梦》第四十九回。李婶娘之女，李纨堂妹。晴雯赞她和李绮都是水葱儿般水灵的姑娘。随母在大观园住下后，她曾参加了几次诗社活动，惟未细表。后王夫人说她已许了人家。在第五十回中她作有一首<<咏红梅花>>诗，里头有两句是"冻脸有痕皆是血，酸心无恨亦成灰"，可见结局也是悲惨的。原来邢夫人之兄嫂带了女儿岫烟进京来投邢夫人的，可巧凤姐之兄王仁也正进京，两亲家一处打帮来了。走至半路泊船时，正遇见李纨之寡婶带着两个女儿──大名李纹，次名李绮──也上京。大家叙起来又是亲戚，因此三家一路同行。后有薛蟠之从弟薛蝌，因当年父亲在京时已将胞妹薛宝琴许配都中梅翰林之子为婚，正欲进京发嫁，闻得王仁进京，他也带了妹子随后赶来。所以今日会齐了来访投各人亲戚。
            br
            li
                h3 7. &nbsp;&nbsp;&nbsp;&nbsp;李绮
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;原来邢夫人之兄嫂带了女儿岫烟进京来投邢夫人的，可巧凤姐之兄王仁也正进京，两亲家一处打帮来了。走至半路泊船时，正遇见李纨之寡婶带着两个女儿──大名李纹，次名李绮──也上京。大家叙起来又是亲戚，因此三家一路同行。后有薛蟠之从弟薛蝌，因当年父亲在京时已将胞妹薛宝琴许配都中梅翰林之子为婚，正欲进京发嫁，闻得王仁进京，他也带了妹子随后赶来。所以今日会齐了来访投各人亲戚。李绮　李纨之寡婶的女儿，嫁给了甄宝玉。
            br
            li
                h3 8. &nbsp;&nbsp;&nbsp;&nbsp; 夏金桂
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夏金桂，薛蟠之妻，外号“河东狮”。出身富贵皇商家庭，生得颇有姿色，也颇识几个字。“金桂”的名字是因为她家有“几十倾地种着桂花”。她家又称为“桂花夏家”，非常富贵，其馀田地不用说，单长安“城里城外桂花局，俱是他家的，连宫里一应陈设盆景，亦是他家供奉”。因父亲早逝，又是独女，寡母对夏金桂娇养溺爱，百依百顺，遂养成横行的性情，自己尊若菩萨，他人秽如粪土。因她小名叫金桂，就不许别人口中带出“金”“桂”二字来，凡有不小心误说出一字者，她便定要苦打重罚才罢。薛蟠打死人命被下在牢里，她又耐不住寂寞，勾引薛蝌。她极端嫉妒香菱，不时地折磨她，最后想用砒霜毒死她，但香菱侥幸躲过，夏金桂倒把自己毒死了。（高鹗的后四十回）
            br
            li
                h3 9. &nbsp;&nbsp;&nbsp;&nbsp;秋桐
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秋桐，原是贾赦房中的丫环。贾琏偷娶尤二姐后，贾赦夸他能干，就把秋桐赏他为妾。秋桐自以为是贾赦所赐，无人敢冒犯她，连凤姐、平儿都不放在眼里，王熙凤用藉刀杀人之法，调唆她天天破口乱骂尤二姐，还去贾母王夫人处诬告尤二姐，尤二姐不堪折磨，吞金而逝。王熙凤死后，秋桐又和平儿争风吃醋。贾琏嫌弃她，她便天天哭着喊着不愿意在贾家，贾琏便叫她娘家人领了出去。
            br
            li
                h3 10. &nbsp;&nbsp;&nbsp;&nbsp;平儿
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 平儿，她是《红楼梦》中王熙凤的陪房丫头，贾琏之妾。她是个极聪明、极清俊的女孩儿（第四十四回宝玉之语）。虽是凤姐的心腹，要帮著凤姐料理事务，但她为人很好，心地善良，常背著王熙凤做些好事。王熙凤死后，王仁和贾环等要把巧姐卖给藩王作使女，是平儿陪伴巧姐逃出大观园。后来，贾琏把平儿扶了正。
            br
            li
                h3 11. &nbsp;&nbsp;&nbsp;&nbsp;龄官
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄官 贾家买来唱戏扮小旦的。长得眉蹙春山，眼颦秋水，面薄腰纤，袅袅婷婷，大有林黛玉之态，戏又唱得极好。元春省亲时，她的演唱得到了贾元春的称赞。她和贾蔷相好。一日，宝玉见她用金簪在地上一连写了几十个“蔷”字，把宝玉都看痴了。贾蔷为了使她高兴，特花了一两八钱银子买了个名为玉顶儿，会衔旗串戏的小鸟来，龄官见了说∶“你们家把好好儿的人弄了来，关在这牢坑里，学这个还不算，你这会子又弄个雀儿来也干这个浪事！你分明弄了来打趣形容我们……”贾蔷听后，赌起誓说自己没想到这上头，随即将雀儿放了生。后戏班解散，她离开贾府。
            br
            li
                h3 12. &nbsp;&nbsp;&nbsp;&nbsp;娇杏
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;甄家的丫环。“ 生得仪容不俗，眉目清秀，虽无十分姿色，却亦有动人之处。”娇杏有一日撷花儿，猛抬头见窗内有陌生人，此人“敝巾旧服，虽是贫穷，然生得腰圆膀厚，面阔口方，更兼剑眉星眼，直鼻权腮”。便回头看了一两次。这陌生人便是贾雨村。雨村见她回了头，以为她有意于自己，遂狂喜不禁，自为此女子必是个巨眼英雄，风尘中之知己也。贾雨村做了县太爷后，路见娇杏，便讨来做了二房。一年后，娇杏便生了个儿子，再半年，雨村嫡妻病故，娇杏被扶作正室夫人。娇杏，谐音“侥幸”也。
            br
    include  ../footer



