extends ../layout
block content
    h2(class='clearfix magin20 center ')  金陵十二钗又副册
    .listPanel3
        p(class="magin20") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金陵十二钗又副册，原作中提到晴雯，袭人。其余一干人等为后世推测。
        ul(class='clearfix')
            li
                h3 1. &nbsp;&nbsp;&nbsp;&nbsp;晴雯
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝玉的丫鬟，也是《红楼梦》中最具叛逆性格的丫鬟。 晴雯从小被卖给贾府的奴仆赖大家为奴。赖嬷嬷到贾府去时常带着她，贾母见了喜欢，赖嬷嬷就孝敬了贾母。她长得风流灵巧，眉眼儿有点像林黛玉，口齿伶俐，针线活尤好。 深得贾母的喜爱。她的反抗性最强，她蔑视王夫人为笼络小丫头所施的小恩小惠；嘲讽向主子讨好邀宠的袭人是“哈巴狗儿”；抄检大观园时，唯有她“挽著头发闯进来，‘豁啷’一声将箱子掀开，两手提著底子，朝天往地下尽情一倒，将所有之物尽都倒”，还当众把狗仗人势的王善保家的痛骂一顿。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;她的反抗，遭到了残酷报复。王夫人在她病得“四五日水米不曾沾牙”的情况下，从炕上拉下来，硬给撵了出去。当天宝玉偷偷前去探望，晴雯深为感动，便绞下自己两根葱管一般的指甲、脱去了一件贴身穿的旧红绫小袄儿赠给他。当夜，睛雯悲惨地死去。宝玉深感哀伤，特作《芙蓉女儿诔》，祭奠晴雯。
            br
            li
                h3 2. &nbsp;&nbsp;&nbsp;&nbsp;袭人
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《红楼梦》中人物，原名花珍珠（另一说蕊珠）。小时因家里没有饭吃，父母快要饿死了，才把她卖给贾府做丫环。她一开始服侍贾母。贾母因见袭人素来闷闷的，言语不多；遂只道袭人是个"闷葫芦“。后贾母因溺爱宝玉，生恐宝玉之婢无竭力尽忠之人，又素喜袭人心地纯良，克尽职任，遂与了宝玉。宝玉因知他本姓花，又曾见陆游《村居书喜》诗“花气袭人知骤暖，鹊声穿树喜新晴”（小说中改“骤”为“昼”） 中取“袭人”二字为她取名，遂回明贾母，更名袭人。这袭人亦有些痴处：服侍贾母时，心中眼中只有一个贾母；如今服侍宝玉，心中眼中又只有一个宝玉。只因宝玉性情乖僻，每每规谏宝玉，心中着实忧虑。宝玉第一次神游太虚仙境之后，强拉袭人同领警幻所训之事，袭人自知贾母已将她给了宝玉，没有推脱，因着此事，（可实际上书中曾在王夫人向贾母禀明已将晴雯逐出一节中明文写到——贾母曾认为晴雯的模样针线聪慧等均在其他丫鬟之上，故本想着日后也就晴雯可长久地侍于宝玉身侧，而不是之后被王夫人看中的袭人）此后宝玉视袭人更是不同，袭人待宝玉更为尽心尽力。袭人曾经向王夫人进言，大谈宝玉不分男女之事。王夫人大惊，同时也很感动，从而视袭人为心腹。紧接着，就命令王熙凤把袭人的月钱上涨至一倍半，也就是姨娘的层次。但最后宝玉与宝钗成亲后，宝玉出家，袭人虽本无奈，最后还是嫁与了蒋玉菡。想来也是那条血红汗巾暗埋下的姻缘线。
            br
            li
                h3 3. &nbsp;&nbsp;&nbsp;&nbsp;鸳鸯
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 鸳鸯在《红楼梦》一书中，是贾母的大丫头。家生奴，甚受信任。贾母平日倚之若左右手。贾母玩牌，她坐在旁边出主意；贾母摆宴，她入座充当令官。因为这个缘故，她在贾府的丫头中有很高的地位。但她自重自爱，从不以此自傲，仗势欺人，因此深得上下各色人等的好感和尊重。她长得蜂腰削肩，鸭蛋脸，乌油头发，高高的鼻子，两边腮上微微的几点雀斑。父母在南京为贾家看房子，哥哥是贾母房里的买办，嫂子是贾母房里管浆洗的头儿。贾赦看上她，非要纳她为妾，让邢夫人、鸳鸯的哥嫂来劝她，威逼她，但她坚决不从，发誓说∶ “我这一辈子，别说是‘宝玉’，就是‘ 宝金’、‘宝天王’、‘宝皇帝’，横竖不嫁人就完了，就是老太太逼著我，一刀子抹死了，也不能从命！”并至此以后果真再也不理会宝玉。值得一提的是，所幸贾母亦甚疼爱鸳鸯；当贾母得知贾赦欲讨之为妾后，贾母当即气得浑身乱颤，破口大斥！贾母死后，鸳鸯十分感伤，又念贾母对己疼爱有加，遂上吊随贾母去了。至于贾赦，当时已被发配远行，所以，鸳鸯上吊与他应没有很大的关系了。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;小红
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 又叫红玉，她姓林，那么因为她的名字这个“玉”呢，重了宝玉和黛玉的名，要避讳，所以就叫小红。红楼梦第二十七回中宝钗偷听到小红的私密事便嫁祸黛玉的情节，据刘心武老师讲，为后来红玉指使配药的小厮故意给黛玉配错药伏笔。黛玉之死与其应有莫大关系。（玉之冲突）
            br
            li
                h3 5. &nbsp;&nbsp;&nbsp;&nbsp;金钏
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金钏的正式出场是刘姥姥去后，周瑞家的回王夫人话找到梨香院时，与香菱（此时是英莲之名作古的开端）一起出现。此前收养林黛玉一段，拜见二舅舅的时候，曾有见一穿红绫袄，青缎掐牙背心的丫鬟，是金是玉、是霞是云并未做介绍。出场便如画如描“向内努嘴”，一副虑事的样子，又多少有些顽皮。后因含屈受辱投井而死（三十二回）
            br
            li
                h3 6. &nbsp;&nbsp;&nbsp;&nbsp;紫鹃
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;原来是贾母身边的一个二等丫头，名叫“鹦哥”，后来林黛玉进贾府以后，贾母让鹦哥去服侍黛玉，并改名为紫鹃。后来就成了黛玉身边十几个女仆当中，地位最高的一个，“比他扬州带来的（雪雁）还要好十倍”，成为与鸳鸯、平儿等人地位相当的“首席大丫头”。
            br
            li
                h3 7. &nbsp;&nbsp;&nbsp;&nbsp;莺儿
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;莺儿，《红楼梦》中薛宝钗的丫头。原名黄金莺，因薛宝钗嫌拗口，改叫莺儿。她甚是乖巧，薛宝钗在观看通灵宝玉，念著玉上所镌之文“莫失莫忘，仙寿恒昌”时，她马上想到这和小姐项圈上的两句话是一对儿。她手特巧，擅长打络子、编花篮等，还颇懂色彩的搭配。
            br
            li
                h3 8. &nbsp;&nbsp;&nbsp;&nbsp; 麝月
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;麝月，《红楼梦》中人物，是主人公贾宝玉身边一等丫鬟（丫鬟也分一等二等，不细论）。按照第五回众丫鬟的排序“袭人、晴雯、麝月、秋纹”，她并不突出。再看文中写她是“公然又是一个袭人”，可见她的脾气秉性与袭人相似。袭人的笔墨在前八十回里比较多，涉及麝月的则少了很多，乍看倒象是袭人的影子。曹雪芹写大观园每个女儿都有她的一段笔墨。如果不是脂砚批语的出现，这将是一个就此被埋没了这个好女儿。
            br
            li
                h3 9. &nbsp;&nbsp;&nbsp;&nbsp;司棋
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾迎春的丫头。她身材高大丰壮，与做小厮的表哥潘又安相爱。有一次在园内幽会时，被鸳鸯无意撞见。潘又安害怕鸳鸯会说出此事，吓得连家也不敢回，逃走了。从第七十一回起，作者渐掀司棋命运的高潮。该回写鸳鸯无意撞破司棋与表哥的私情。第七十二回写到司棋因被人撞破私情抑郁成病，鸳鸯赶去安慰，发誓不会说出。第七十三回写司棋的春宫锦囊被傻丫头拾到（未明写是她的），为后来搜园留下因由。此事暂押下不表，转写迎春“懦小姐不问累金凤”的事，司棋暂充配角。第七十四回搜园，司棋被搜出与表哥传情之物，事败。再押后三章，第七十七回，司棋被逐。其后，第七十八回，借宝玉之口，提及司棋，讲到大观园的情形—— “忽又想到去了司棋，入画，芳官等五个,死了晴雯，今又去了宝钗等一处，,迎春虽尚未去，然连日也不见回来，且接连有媒人来求亲：大约园中之人不久都要散的了。”曲终人散之意越来越明显。宝玉并因此得病，见第七十九回——此皆近日抄检大观园，逐司棋，别迎春，悲晴雯等羞辱惊恐悲凄之所致，兼以风寒外感，故酿成一疾，卧床不起。园中各丫鬟也噤若寒蝉——“袭人道：‘事却没有。方才太太叫鸳鸯姐姐来吩咐我们：如今老爷发狠叫你念书，如有丫鬟们再敢和你玩笑, 都要照着晴雯司棋的例办。”（见第八十二回）
            br
            li
                h3 10. &nbsp;&nbsp;&nbsp;&nbsp;玉钏
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;玉钏，与姐姐金钏同为王夫人房中丫头，她与姐姐感情很深，金钏被逼跳井自杀，她知道与贾宝玉有关，心中甚恨宝玉。
            br
            li
                h3 11. &nbsp;&nbsp;&nbsp;&nbsp;茜雪
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;茜雪是宝玉跟前的大丫头之一。第八回写到宝玉从梨香院吃酒回到绛芸轩，半醉中接过茜雪捧上的茶，吃了半碗，忽又想起早起的茶来，因问茜雪道：“早起沏了一碗枫露茶，我说过，那茶是三四次后才出色的，这会子怎么又沏了这个来？”茜雪道：“我原是留着的，那会子李奶奶来了，他要尝尝，就给他吃了。”宝玉听了，将手中的茶杯只顺手往地下一掷，豁啷一声，打了个粉碎，泼了茜雪一裙子的茶，又跳起来问着茜雪：“他是你哪一门子的奶奶，你们这么孝敬他？不过是仗着我小时候吃过他几日奶罢了，如今逞的他比祖宗还大了，如今我又吃不着奶了，白白的养着祖宗作什么！撵了出去，大家干净！”说着便要立刻回贾母，撵他乳母。
            br
            li
                h3 12. &nbsp;&nbsp;&nbsp;&nbsp;柳五儿
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;甄家的丫环。“ 生得仪容不俗，眉目清秀，虽无十分姿色，却亦有动人之处。”娇杏有一日撷花儿，猛抬头见窗内有陌生人，此人“敝巾旧服，虽是贫穷，然生得腰圆膀厚，面阔口方，更兼剑眉星眼，直鼻权腮”。便回头看了一两次。这陌生人便是贾雨村。雨村见她回了头，以为她有意于自己，遂狂喜不禁，自为此女子必是个巨眼英雄，风尘中之知己也。贾雨村做了县太爷后，路见娇杏，便讨来做了二房。一年后，娇杏便生了个儿子，再半年，雨村嫡妻病故，娇杏被扶作正室夫人。娇杏，谐音“侥幸”也。
            br
    include  ../footer



