extends ../layout
block content
    h2(class='clearfix magin20 center ')  四大家族之贾家
    .listPanel3
        ul(class='clearfix')
            li
                h3 1. &nbsp;&nbsp;&nbsp;&nbsp;贾宝玉
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾宝玉是《红楼梦》中的第一主角，与江南甄家甄宝玉同名同形，作者以“甄”、“贾”之姓暗喻“真”、“假”。为荣国府二老爷贾政和王夫人所生的二子，出场时其兄贾珠已死，故为贾政唯一嫡亲儿子。他有一同父同母的大姐贾元春贵为妃，以及同父异母的弟弟贾环和妹妹贾探春，均为赵姨娘所生。贾府中下人称其宝二爷，在大观园诗社中又有别号怡红公子、绛洞花王、富贵闲人。情榜评为‘情不情’。
            br
            li
                h3 2. &nbsp;&nbsp;&nbsp;&nbsp;贾蓉
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾蓉堪称《红楼梦》中身份和情感都最为尴尬的一位。他娶了金陵十二钗中最漂亮的秦可卿为妻，偏偏老婆却总是跟自己的老子贾珍偷情，有最终“淫丧天香楼”一说，而他自己，也总热衷于混乱的情感关系中，与自己的婶子王熙凤和姨娘尤二姐、尤三姐都不清不楚的。表面上看起来，贾蓉是很风光的。他不但是宁国府的长房长孙，更是整个贾府的长房长孙，而且长的清秀俊俏，可是其实，这是一个不折不扣的“倒霉孩子”。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与在贾母的鼓励式教育环境里成长起来的心智健全的贾宝玉比起来，作为贾府长房长孙的贾蓉真的很可怜，他面对的是严厉和好色的父亲，面对的是父亲的暴力和龌龊，这使得他别无选择的成长为贾府的另一个贾珍，他的丑陋的父亲的一个影子。也因此，从某种程度上说，贾蓉的堕落就是贾府堕落的一个绝妙而真实的缩影！
            br
            li
                h3 3. &nbsp;&nbsp;&nbsp;&nbsp;贾琏
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾琏，贾赦之子。平日在贾政处总理荣府家务。他捐了个同知的官位，但不务正业。住在叔父贾政家里，和妻子王熙凤帮著料理荣府家务。他一味好色纵欲，女儿巧姐出天花，按迷信要夫妻分房，他一离开王熙凤就找“多姑娘儿” 鬼混。王熙凤去过生日宴会，他就把鲍二媳妇勾搭上手，见了尤二姐，又贪图其美色，骗娶为二房。父亲贾赦却夸他能干，又把自己的丫环秋桐赏给他。他和王熙凤同床异梦，也不知她背地里重利盘剥，是个典型的纨绔子弟。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;贾蔷
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾蔷，是宁国府正派玄孙，父母早亡，从小儿跟着贾珍过活。贾蔷长到十六岁，比贾蓉生得还风流俊俏，外相既美，内性又聪明。他与贾蓉弟兄二人最相亲厚，常相共处，斗鸡走狗，赏花玩柳。他上有贾珍溺爱，下有贾蓉匡助，越发自大起来。后成了贾府小戏班梨香院的总管，与小旦龄官相好。
            br
            li
                h3 5. &nbsp;&nbsp;&nbsp;&nbsp;贾珠
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾珠，贾政嫡长子，与元春、宝玉均为王夫人所生，娶妻李纨，育子贾兰，在《红楼梦》中是作为已故人物。
            br
            li
                h3 6. &nbsp;&nbsp;&nbsp;&nbsp;贾环
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾环，同贾宝玉为同父异母的弟弟，其母为贾政之妾赵姨娘。贾环举止粗糙，诡计多端，颇有小人之风。赶围棋玩耍时，与丫头莺儿撒泼耍赖。贾环十分忌恨其兄贾宝玉，多次陷害宝玉。故意拨翻烛台 ，烫伤宝玉。金钏跳井事件后，诬陷宝玉，使得宝玉遭受贾政毒打。
            br
            li
                h3 7. &nbsp;&nbsp;&nbsp;&nbsp;贾瑞
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾瑞，贾府义学塾贾代儒的长孙。贾代儒如果有事，即命贾瑞管理学中之事。他是个最图便宜没行止的人，每在学中以公报私，勒索子弟们请他，后又助着薛蟠图些银钱酒肉，一任薛蟠横行霸道，才引起书房里的一通大闹。在宁府庆贾敬寿宴时碰上凤姐，又动了勾引之意。王熙凤假意与他周旋，最后，贾瑞丧命于王熙凤设计的相思局。
            br
            li
                h3 8. &nbsp;&nbsp;&nbsp;&nbsp; 贾芸
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾芸，贾府姻亲，西廊下五嫂子的儿子。为了到荣国府谋事做，对凤姐百般奉承，又夸她能干又送她香料，得了一个管花草的职位。而为了攀入贾府中心，他不惜对小他几岁的宝玉认父亲，并赠了两盆白海棠。而他也是一个重情重义的人，贾府败落后帮助过身陷困境的宝玉和凤姐，并喜欢上了丫头小红，捡到她的手帕后一番接触，两人渐渐陷入爱河，上演了一出和宝黛之恋同样纯美的爱情故事。
            br
            li
                h3 9. &nbsp;&nbsp;&nbsp;&nbsp;贾芹
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾芹，贾府草字辈远房子孙，人称“三房里的老四”。他母亲周氏求凤姐为他谋了一个管理小沙弥、小道士的职事，每月能得到不少分例，可一听说宁府分发年物，他又匆匆赶去想领一份，反被贾珍着实训饬了一顿。从贾珍口中得知，他在家庙里“为王称霸起来，夜夜招聚匪类赌钱，养老婆小子”（见第五十三回）。第九十三回“水月庵掀翻风月案”一事即与此前后照应。事发后，小沙弥、小道士都被遣发，贾芹也被贾府疏远。《红楼梦曲·留余庆》一首有“休似俺那爱银钱忘骨肉的狠舅奸兄”句，从贾芹的作为来看，企图将巧姐卖掉的“奸兄”，很可能是指贾芹之流，而不会是续书所说的贾芸。
            br
            li
                h3 10. &nbsp;&nbsp;&nbsp;&nbsp;贾赦
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾赦是荣国公贾源的嫡孙，荣国府官爵的袭承者，贾母的长子，儿子贾琏，在荣国府居长房之位。他理应担负起振兴家业的重任。可贾赦却安富尊荣，一味玩乐，不务正业，过着纸醉金迷的生活，对子孙也不加以教育和管束。并且他结交贾雨村，与贾政一府的内斗，也加速了家族的衰败。
            br
            li
                h3 11. &nbsp;&nbsp;&nbsp;&nbsp;贾政
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贾政，字存周，工部员外郎，贾母和贾代善之次子。自幼好读书，为人端方正直，谦恭厚道。惟失之于迂腐。他是深受儒家思想熏陶的人物，他孝顺贾母，亦想严厉管教子女；他想作好官，但可惜不谙世情，受人蒙骗，弄得声名狼藉。政、谐音、正。作者描写他的为人，亦正重一个“正”字，他是封建时代正统主义的悲剧人物。他既是悲剧的制造者，也是悲剧的受害者。
            br
            li
                h3 12. &nbsp;&nbsp;&nbsp;&nbsp;贾珍
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 贾珍，贾敬之子，贾演的曾孙子。世袭三品爵威烈将军。生活极度放纵，他虽有一妻二妾，但仍和儿媳秦可卿，妻妹尤二姐关系暧昧。秦可卿死后，是他流泪向王夫人请求让王熙凤料理丧事，让她“爱怎么办就怎么样办”，恣意奢华。为了丧礼上风光些，他特意花一千两银子为儿子贾蓉捐了个五品龙禁尉。这场奢靡的丧事，也足以说明他与秦可卿之间的特殊关系了。后因作恶多端，被人参奏革去世职，派往海疆效力赎罪。
            br
            li
                h3 13. &nbsp;&nbsp;&nbsp;&nbsp;贾敬
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 贾敬，宁国公贾演的孙子，京营节度使世袭一等神威将军贾代化的次子，贾珍、贾惜春之父。是丙辰科进士，却一味好道，在都外玄真观修炼，烧丹炼汞，别的事一概不管，放纵家人胡作非为。后因吃秘制的丹砂烧胀而死。死后追赐为五品之职。
            br

    include  ../footer



