extends ../layout
block content
    h2(class='clearfix magin20 center ')  四大家族之史家
    .listPanel3
        ul(class='clearfix')
            li
                h3 1. &nbsp;&nbsp;&nbsp;&nbsp;史太君
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;史太君是四大家族史家官居尚书令的保龄侯史公（名不可考）的女儿，嫁与荣国公贾公（贾源）的儿子贾代善，夫妇还算相得。她为人精明，持家有方。
            br
            li
                h3 2. &nbsp;&nbsp;&nbsp;&nbsp;史鼐
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保岭侯尚书令史公之后裔，世袭保龄侯，人称“小侯爷”。忠靖侯史鼎之兄，史湘云之叔，贾母之侄。湘云因父母双亡，寄居其家。他家中嫌费用大，竟不用那些针线上的人，湘云在他家也一点作不得主，往往做活计忙到三更天。贾母得知史鼐钳委了外省大元后，遂接湘云到大观园住下
            br
            li
                h3 3. &nbsp;&nbsp;&nbsp;&nbsp;史鼎
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保龄侯尚书令史公之后裔。忠靖侯。史鼐之弟、史湘云之叔、贾母之内侄。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;史湘云
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详见十二钗正册描述
            br

    include  ../footer



