extends ../layout
block content
    h2(class='clearfix magin20 center ')  四大家族之王家
    .listPanel3
        ul(class='clearfix')
            li
                h3 1. &nbsp;&nbsp;&nbsp;&nbsp; 王子腾
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;都太尉统制县伯王公之后裔，王夫人、薛姨妈、王子胜之兄。初任京营节度使，后擢九省统制，奉旨查边，旋升九省都检点。鲍二家的自缢后，阻其娘家亲戚申诉，并左右都察院审理张华一案的，都是王熙凤倚王子腾之势所为。而他又因贾雨村私断金陵命案便累上保本、引荐雨村进京。
            br
            li
                h3 2. &nbsp;&nbsp;&nbsp;&nbsp; 王子胜
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王子胜是王夫人（贾府的二老爷贾政之妻，贾宝玉之母）的两个兄弟之一，另一个是王子腾。王子胜生日是十月二十三日，是个无能的人，胡作非为，闹的六亲不和。（详见《红楼梦》第一一四回 王熙凤历幻返金陵 甄应嘉蒙恩还玉阙）。 王夫人的后台比邢夫人硬的多，但是《红楼梦》全书里却没有见过王子腾和王子胜的人影。两家的联系只不过是寻常的礼节，王家两个舅舅也似乎与外甥宝玉见不着面，两家的关系还比不上与北靖王府的亲密程度。这里面似乎隐藏着亲戚中的隔阂。
            br
            li
                h3 3. &nbsp;&nbsp;&nbsp;&nbsp;王夫人
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王夫人，贾政之妻，京营节度使王子腾之妹，与薛姨妈是一母所生的姐妹。她虽是贾家的二儿媳，也不太说话，但深得贾母的信任，是贾府的实权派。她年事已高，把大权交给自己的侄女王熙凤。不过，一些大事凤姐仍须向她请示汇报。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;王仁
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王仁是王熙凤的哥哥，贾巧姐的舅舅，王仁在这里其实就是“忘仁”的意思，说明他是个忘却仁义的小人，后来贾家败落，王仁居然将自己的外甥女贾巧姐买到了烟花柳巷之地，几乎害了她一生，幸亏由刘姥姥救出。在红楼梦第五回中，巧姐的判词中说道：“势败休云贵，家亡莫论亲”，《红楼梦曲》中《留余庆》中提到的“休似俺那爱银钱忘骨肉的狠舅奸兄”中的亲、狠舅都是指王仁等人。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;王熙凤
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详见十二钗正册描述
            br

    include  ../footer



