extends ../layout
block content
    h2(class='clearfix magin20 center ')  四大家族之薛家
    .listPanel3
        ul(class='clearfix')
            li
                h3 1. &nbsp;&nbsp;&nbsp;&nbsp; 薛姨妈
                p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薛蟠和薛宝钗之母，王夫人之姊。她随薛氏兄妹寄居贾府。以“慈”著称。由于举止言行得体，贾母常愿与她对坐聊天。她十分宠爱自己的子女，任薛蟠在外为所欲为。
            br
            li
                h3 2. &nbsp;&nbsp;&nbsp;&nbsp; 薛蟠
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薛姨妈之子，薛宝钗之兄。与贾宝玉是姨表亲。为人骄横自负，好色无知，又没有心机，被贾府之人称为呆霸王。
            br
            li
                h3 3. &nbsp;&nbsp;&nbsp;&nbsp; 薛蝌
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皇商之子，薛姨妈的侄儿，薛宝琴的胞兄。薛蝌和邢岫烟的婚姻，如果能够成就，大概算是封建时代盲婚哑嫁下的一个较好结局。两人先前在来贾府的路上便已认识，心中大约也满意。邢岫烟固然如闲云野鹤般恬淡清秀，宝玉也说薛蝌“倒像是宝姐姐的亲兄弟”，相貌端正。或许四大家族一损俱损后此二人能够相伴到白头，度过谨慎小心的一生。
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;薛宝钗
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详见十二钗正册描述
            br
            li
                h3 4. &nbsp;&nbsp;&nbsp;&nbsp;薛宝琴
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详见十二钗副册描述
            br

    include  ../footer



