extends ../layout
block content
    h2(class='clearfix magin20 center setwidth')  红楼梦中人
    .listPanel2
        ul(class='clearfix')
            li
                span 1. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/1')   金陵十二钗正册
            br
            li
                span 2. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/2')  金陵十二钗副册
            br
            li
                span 3. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/3')  金陵十二钗又副册
            br
            li
                span 4. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/4')  四大家族之贾家
            br
            li
                span 5. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/5')  四大家族之史家
            br
            li
                span 6. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/6')  四大家族之王家
            br
            li
                span 7. &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/person/7')  四大家族之薛家
            br



    include  ../footer



